<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PRACTIC5.Properties.Settings.PCShopConnectionString"
            connectionString="Data Source=LAPTOP-PO9VFGF7\SQLEXPRESS01;Initial Catalog=PCShop;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="PRACTIC5.Properties.Settings.PCShopConnection" connectionString="Data Source=KOMPUTER\SQLEXPRESS;Initial Catalog=PCShop;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>